
.box {
  border: 1px solid rgb(217,237,247);
  width:700px;
  padding: 10px;
  background-color: #dbecf6;
  border-radius: 5px;
}

.box .list-item {
  font-size:15px;
  padding: 10px;
  text-align: start;
  display: flex;
}

.item {
  padding-top: 5px;
  width: 300px;
  color: rgb(58,135,173);
}

.inputs {
  padding: 4px;
  font-size: 25px;
  border: 1px solid #ccc;
  width: 200px;
}

.bold {
  font-weight: 700;
}

.blank {
  background-color:rgb(238,238,238);
}

